*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: ;
}
h1, h2, h3, h4, h5, h6{
	font-family: 
}
a, a:hover{
	text-decoration: none;
}
/* header section css start */
.header{
	width: 100%;
	background: url('../img/bg.png') center top no-repeat;
	background-size: cover;
}
.header .header-top{
	width: 100%;
	
}
.header .header-top .bg-light{
	background: transparent !important;
}

.header .header-top .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	font-size: 16px;
    font-weight: 700;
    color: #511de5;
    background: url("../img/link-bo.png") center bottom no-repeat;
    background-size: contain;
    margin-left:0px;
}
.header .header-top .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link:hover {
	color: #511de5;
    background: url("../img/link-bo.png") center bottom no-repeat;
    background-size: contain;
}
.header .header-top .navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 700;
    color: #1a1a1a;
    margin-right: 10px;
}
.header .header-top .navbar-light .navbar-nav .nav-link:hover{
	color: #511de5;
    background: url("../img/link-bo.png") center bottom no-repeat;
    background-size: contain;
}
.header .header-top .right .nav-link{
	font-size: 16px;
    font-weight: 700;
    color: #1a1a1a;
    margin-right: 10px;
}
.header .header-top .right .nav-link:hover{
    color: #511de5;
    background: url("../img/link-bo.png") center bottom no-repeat;
    background-size: contain;
}
.header .header-top .right .btn-info {
    font-size: 14px;
    font-weight: 600;
    padding: 8px 35px;
    background: linear-gradient(to right , #511de5 70%, #0e87fa);
    border-radius: 35px;
    text-transform: capitalize;
}
.header .header-top .right .btn-info:hover{
    color: #1a1a1a;
    background: transparent;
    border: 1px solid #511de5;
}
/* banner section css start */
.header .banner{
	width: 100%;
	padding: 150px 0px;
}
.header .banner h1{
	width: 100%;
	font-size: 52px;
	font-weight: 700;
	line-height: 62px;
	color: #1a1a1a;
	margin-bottom: 25px;
}
.header .banner h1 span{
	color:#511de5; 
}
.header .banner .btn-info{
	font-size: 14px;
    padding: 8px 35px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    color: #1a1a1a;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 35px;
    text-transform: uppercase;
}
.header .banner .btn-info:hover{
	color: #1a1a1a;
    background: #511de5;
}
.header .banner .btn-info .fa{
	margin-left: 5px;
}
/* high-light section start */
.high-light{
	width: 100%;
	padding: 50px 0px;
	background: url('../img/bannar-bo.png') center top no-repeat;
	background-size: cover;
	position: relative;

}
.high-light .inner{
	width: 100%;
	text-align: center;
}	
.high-light .inner img {
    position: absolute;
    top: -161%;
    left: 0;
    margin-left: 16%;
}
.high-light .inner h4 {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
}


/* feature section css here */
.feature{
	width: 100%;
	padding: 150px 0px 50px;
}
.feature .feature-inner{
	width: 100%;
	padding: 40px 80px 150px 115px;
	background: url('../img/fe.png') center bottom no-repeat;
	background-size: cover;
}
.feature .feature-inner h1{
    width: 100%;
    font-size: 42px;
    font-weight: 500;
    line-height: 52px;
    color: #1a1a1a; 
    margin-bottom: 35px;
}
.feature .feature-inner p{
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 35px;
}

.feature .feature-inner h4 strong {
	width: 100%;
	font-size: 100px;
	font-weight: 700;
	color: #511de5;

}
.feature .feature-inner h4 span{
	width: 100%;
	font-size: 14px;
	color: #1a1a1a;
}
.feature-bottom{
	width: 100%;
	/* padding: 80px 0px; */
	text-align: center;
}
.feature-bottom img{
	width: 75%;
}
/* quote section css here */
.quote{
	width: 100%;
	padding: 10px 0px;
	background:url( "../img/qtbg.png") center top no-repeat;
	background-size: cover;
}
.quote .left {
    width: 100%;
    padding: 100px 35px;
    background: url(../img/Qt.png) center center no-repeat;
    background-size: contain;
    margin: 185px 0px 150px 0px;
}
.quote .left p{
	width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    margin: 15px 0px 10px 105px;
}
.quote .left  h4{
	width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #fff;
    margin: 0px 0px 10px 105px ;
}

.quote .right h2{
	width: 100%;
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    color: #1a1a1a; 
    margin: 235px 0px 35px;
}
.quote .right .btn{
	font-size: 14px;
    padding: 8px 35px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    color: #1a1a1a;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 35px;
    text-transform: uppercase;
}
.quote .right .btn:hover{
	color: #1a1a1a;
    background: #1084fa;
}
/* efficiency css here */
.efficiency{
	width: 100%;
    padding-bottom: 100px;
}
.efficiency .effi-inner{
	width: 100%;
    margin-left: 25px;

}

.efficiency .effi-inner h2{
    width: 100%;
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    color: #1a1a1a;
    margin-bottom: 35px;
    margin-top: 30px;
}

.efficiency .effi-inner p{
	width: 100%;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    color: #1a1a1a;
    margin-bottom: 35px;
}
.efficiency .effi-inner h6 {
	width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #1a1a1a;
    margin-bottom: 15px;
}
.efficiency .effi-inner h6 img{
	margin-right: 20px;
}
.efficiency .effi-inner .btn-info{
	font-size: 14px;
    padding: 10px 40px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    background: linear-gradient(to right , #511de5 70%, #0e87fa);
    border: 1px solid #511de5;
    border-radius: 35px;
    text-transform: uppercase;
    transition: .5s;
}
.efficiency .effi-inner .btn{
	margin-top: 25px !important;
}
.efficiency .effi-inner .btn-info:hover{
	color: #1a1a1a;
    background: transparent;
}

.efficiency .effi-img img {
    vertical-align: middle;
    border-style: none;
    max-width: 80%;
}
/* portfolio section css here */
.portfolio{
	width: 100%;
	padding:70px 0px 50px;
	background: #fcfcfc;

}
.portfolio .title{
	width: 100%;
	text-align: center;
}
.portfolio .title h1{
	width: 100%;
    font-size: 42px;
    font-weight: 700;
    line-height: 44px;
    color: #1a1a1a;
    margin-bottom:40px;
}
.portfolio .title p{
	width: 100%;
    font-size: 11px;
    font-weight: 700;
    line-height: 20px;
    color: #545454;
    margin-bottom: 15px;
}
.portfolio .design-inner {
	width: 100%;
	padding: 30px 40px;
	text-align: center;
}
.portfolio .bor{
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;

}
.design-inner img{
	mix-blend-mode: darken;
}
.design-inner h4{
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    color: #1a1a1a;
}
.design-inner p{
	width: 100%;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    color: #545454;
}
/* testimonial section css here */
.testimonial{
	width: 100%;
	padding: 80px 0px;

}
.testimonial .title {
	width: 100%;
	text-align: center;
}
.testimonial .title h2{
	width: 100%;
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    color: #1a1a1a;
    margin-bottom:55px;
}
.testimonial .testi-inner{
	width: 100%;
	padding: 40px 20px;
	background: url('../img/coma.png') center top no-repeat;
	background-size: cover;
	box-shadow: 10px 4px 10px #ccc;
    opacity: .5;

}
.testimonial .testi-inner .text-inner{
	width: 100%;
	padding: 20px 0px;
    border-bottom: 1px solid #eaeaea;
}
.testimonial .testi-inner .text-inner h4{
	width: 100%;
    padding-bottom: 35px;
    margin-top: 45px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #1a1a1a;
}
.testimonial .testi-inner .client-inner{
    width: 100%;
    text-align: center;
    padding-top: 15px;
}
.testimonial .testi-inner .client-inner h4{
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: #1a1a1a;
}
.testimonial .testi-inner .client-inner p{
      width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 5px;
}
.testi-inner:hover{
    opacity: 1;
}
.testi-inner:hover .text-inner h4{
    color: #511de5;
}
/* footer section css here */
.footer{
    width: 100%;
    padding: 100px 0px 150px;
    background: url('../img/fbg.png') center bottom no-repeat;
    background-size: contain;
}
.faq {
    width: 100%;

    padding: 90px ;
    background: #fff;
    box-shadow: 1px 4px 10px #ccc;
}
.faq .title{
    text-align: center;
}
.faq .title h1{
    width: 100%;
    font-size: 62px;
    font-weight: 700;
    line-height: 72px;
    text-transform: capitalize;
    color: #1a1a1a;
    margin-bottom: 75px;
}

.faq .card-header {
    padding: 10px;
    background-color: #fff;
    border: 0px;
}
.faq .card {
    padding: 0px 55px;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
   
}
.faq .btn-link {
    font-size: 15px;
    font-weight: 700;
    color: #1a1a1a;
    text-decoration: none !important;
    border: 0px !important;
}
.faq .btn-link:hover {
    color: #0056b3;
    text-decoration: none;
}
.faq .btn-link:focus{
    color: #0056b3;
    outline: 0;
    box-shadow: none;
}

.footer .left{
    width: 100%;
    margin-top: 60px;
}
.footer .left ul{
    display: block;
    margin: 75px 0px 0px;
}
.footer .left ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px; 
}
.footer .left ul li a{
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;

}
.footer .right{
    width: 100%;
    margin-top: 60px;
}
.footer .right h5{
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    margin-top: 75px;
}
